{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Active US</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'index_view' %}" class="brand-logo">Active US</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'index_view' %}">Home</a></li>
          <li><a href="{% url 'user_create_view' %}">Create User</a></li>
          <li><a href="{% url 'sport_create_view' %}">Add Sport</a></li>
          <li><a href="{% url 'profile_update_view' %}">Edit Profile</a></li>
        </ul>
      </div>
    </nav>
    <a href="#" data-activates="slide-out" class="btn button-collapse">Side nav demo</a>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="{{ MEDIA_URL }}{{ sports.jpg }}">
          </div>
          <a href="{% url 'profile_view' %}"><img class="circle" src="{{ MEDIA_URL }}{{ request.user.profile.profile_picture }}"></a>
          <a href="{% url 'profile_view' %}"><span class="white-text name">John Doe</span></a>
          <a href="{% url 'profile_view' %}"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <br>
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
