{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ActiveUS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <style media="screen">
    .container {
      width: 90%;
    }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'index_view' %}" class="brand-logo">ActiveUS</a>
        <ul id="nav-mobile" class="right">
          <li><a href="{% url 'index_view' %}">Home</a></li>
          <li><a href="{% url 'map_test_view' %}">View Parks</a></li>
          {% if not request.user.is_authenticated %}
          <li><a href="{% url 'user_create_view' %}">Create User</a></li>
          {% else %}
          <li class="button-collapse" data-activates="slide-out"><a href="#"><i class="material-icons">menu</i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">

      <ul id="slide-out" class="side-nav">
        <li>
          <div class="userView">
            <div class="background">
              <img src="{{ MEDIA_URL }}sports.jpg" style="width: 300px">
            </div>
            <a href="{% url 'profile_view' %}"><img class="circle" src="{{ MEDIA_URL }}{{ request.user.profile.profile_picture }}"></a>
            <a href="{% url 'profile_view' %}"><span class="white-text name">{{ request.user.profile.full_name }}</span></a>
            <a href="{% url 'profile_view' %}"><span class="white-text email">{{ request.user.profile.email }}</span></a>
          </div>
        </li>
        <li><a class="waves-effect" href="{% url 'event_list_view' %}">Events</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Create<i class="material-icons">add</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="{% url 'location_create_view' %}">Location</a></li>
                  <li><a href="{% url 'event_create_view' %}">Event</a></li>
                  <li><a href="{% url 'team_create_view' %}">Team</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{% url 'profile_update_view' %}">Update Profile<i class="material-icons">perm_identity</i></a></li>
        <li><a class="waves-effect" href="{% url 'logout' %}?next={% url 'index_view' %}">Logout<i class="material-icons">cancel</i></a></li>
      </ul>

      <br>

      {% block content %}
      {% endblock %}

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(".button-collapse").sideNav({
        edge: 'right',
        closeOnclick: true,
        draggable: true
      });
    </script>
    {% block js %}
    {% endblock %}

  </body>
</html>
