{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col s6 m5">
    <div class="card medium" style="overflow: hidden;">
      <div class="card-image waves-effect waves-block waves-light">
        {% if event.sport.name == 'Soccer' %}
        <img class="activator" src="{% static 'soccer_ball.jpg' %}">
        {% endif %}
        {% if event.sport.name == 'Basketball' %}
        <img class="activator" src="{% static 'basketball_court.jpg' %}">
        {% endif %}
        {% if event.sport.name == 'Tennis' %}
        <img class="activator" src="{% static 'tennis.jpg' %}">
        {% endif %}
        {% if event.sport.name == 'Volleyball' %}
        <img class="activator" src="{% static 'volleyball_pic.jpg' %}">
        {% endif %}
        {% if event.sport.name == 'Baseball' or event.sport.name == 'Kickball' or event.sport.name == 'Softball' %}
        <img class="activator" src="{% static 'baseball_diamond.jpg' %}">
        {% endif %}
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ event.name }}<i class="material-icons right">more_vert</i></span>
        <p>
          {{ event.date }} at {{ event.time }}<br>
          {% if request.user == event.created_by %}
            <a class="btn-floating btn-large waves-effect waves-light red right" href="{% url 'event_delete_view' event.id %}"><i class="material-icons">delete</i></a><a class="btn-floating btn-large waves-effect waves-light blue right" href="{% url 'event_update_view' event.id %}"><i class="material-icons">mode_edit</i></a>
          {% else %}
          <form class="" action="{% url 'participants_update_view' event.id %}" method="post">
            {% csrf_token %}
            {% if request.user in participants %}
            <button class="btn waves-effect waves-light red right" type="submit" name="participants" value="remove_participant">Remove Me from Participants</button>
            {% else %}
            <button class="btn-floating btn-large waves-effect waves-light green right" type="submit" name="participants" value="add_participant"><i class="material-icons">add</i></button>
            {% endif %}
          </form>
          {% endif %}
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ event.name }}<i class="material-icons right">close</i></span>
        <p>
          {{ event.description }}<br><br>
          Sport: {{ event.sport }}<br><br>
          Location: {{ event.location }}<br><br>
          Participants: |{% for person in participants %} <a href="{% url 'others_profile_view' person.id %}">{{ person.profile.full_name }}</a> |{% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="col s1">
  </div>
  <div class="col s5">
    <div id="map"></div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {lat: {{ event.location.lat }}, lng: {{ event.location.lng }}},
      });

      $.getJSON("/api/locations/", function(result) {

        var iconSet = {
          Tennis: {
            url: "{% static 'tennis.png' %}",
            size: new google.maps.Size(20, 20),
            origin: new google.maps.Point(0, 0),
            scaledSize: new google.maps.Size(20, 20)
          },
          BallField: {
            url: "{% static 'baseball.png' %}",
            size: new google.maps.Size(20, 20),
            origin: new google.maps.Point(0, 0),
            scaledSize: new google.maps.Size(20, 20)
          },
          Basketball: {
            url: "{% static 'basketball.png' %}",
            size: new google.maps.Size(20, 20),
            origin: new google.maps.Point(0, 0),
            scaledSize: new google.maps.Size(20, 20)
          },
          Soccer: {
            url: "{% static 'soccer.png' %}",
            size: new google.maps.Size(20, 20),
            origin: new google.maps.Point(0, 0),
            scaledSize: new google.maps.Size(20, 20)
          },
          Volleyball: {
            url: "{% static 'volleyball.png' %}",
            size: new google.maps.Size(20, 20),
            origin: new google.maps.Point(0, 0),
            scaledSize: new google.maps.Size(20, 20)
          }
        };


      console.log(result);
      for (var i = 0; i < result.length; i++) {
        var location = result[i];
        // Tennis
        if (location.sport == 4) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.lat, location.lng),
              map: map,
              icon: iconSet['Tennis'],
              content: '<b>' + location.name + '</b>' + '<br>' + '{{ event.address }}'
            });
          };
        // Baseball, Kickball, Softball
        if (location.sport.includes(5)) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.lat, location.lng),
              map: map,
              icon: iconSet['BallField'],
              content: '<b>' + location.name + '</b>' + '<br>' + '{{ event.address }}'
            });
          };
        // Basketball
        if (location.sport == 2) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.lat, location.lng),
              map: map,
              icon: iconSet['Basketball'],
              content: '<b>' + location.name + '</b>' + '<br>' + '{{ event.address }}'
            });
          };
        // Soccer
        if (location.sport == 1) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.lat, location.lng),
              map: map,
              icon: iconSet['Soccer'],
              content: '<b>' + location.name + '</b>' + '<br>' + '{{ event.address }}'
            });
          };
        // Volleyball
        if (location.sport == 8) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.lat, location.lng),
              map: map,
              icon: iconSet['Volleyball'],
              content: '<b>' + location.name + '</b>' + '<br>' + '{{ event.address }}'
            });
          };

        var infoWindow = new google.maps.InfoWindow();

        google.maps.event.addListener(marker, 'click', (function(marker, i, infoWindow) {
          return function() {
            infoWindow.setContent(this.content);
            infoWindow.open(map, this);
          };
        })(marker, i, infoWindow));

      }
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0WRCaT-zkZjTevamEkeQt8v4hZ4sLieo&callback=initMap">
  </script>
{% endblock %}
