{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col s8">
      <div class="thumbnail">
        <img src="{{ MEDIA_URL }}ActiveUS_logo.png" alt="Picture of sports"/>
      </div>
    </div>
    {% if not request.user.is_authenticated %}
    <div class="col s4">
      <h5>Login Here</h5>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input class="btn waves-effect waves-light" type="submit" name="action" value="Login"> <font size=2><a href="{% url 'user_create_view' %}">Not signed up yet? Create a profile!</a></font>
        </form>
      </div>
    {% else %}
    <div class="col s3">
      <div class="card blue-grey darken-1 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">Welcome!</span>
          <div class="card-content">
            <p>ActiveUS is a great way for people to come together to play sports and stay physically fit!</p>
          </div>
          <div class="card-action">
           <a href="{% url 'contact_view' %}">Contact ActiveUS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col s3">
      <p>
        ActiveUS was designed as a way to bring people together who share a common interest in sports!
        ActiveUS allows users to join events happening in their area, create events that other users can participate in, and communicate with participants/ team members in one simple application.
      </p>
    </div>
  </div>
{% endblock %}
