{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
{% endblock %}
  {% block content %}
    <h3>Athletic Fields in Public Parks</h3>
    <div id="map"></div>
  {% endblock %}
  {% block js %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 34.85073, lng: -82.39898},
        });

        $.getJSON("http://localhost:8000/api/locations/", function(result) {

          var iconSet = {
            Tennis: {
              url: "{% static 'tennis.png' %}",
              size: new google.maps.Size(20, 20),
              origin: new google.maps.Point(0, 0),
              scaledSize: new google.maps.Size(20, 20)
            },
            BallField: {
              url: "{% static 'baseball.png' %}",
              size: new google.maps.Size(20, 20),
              origin: new google.maps.Point(0, 0),
              scaledSize: new google.maps.Size(20, 20)
            },
            Basketball: {
              url: "{% static 'basketball.png' %}",
              size: new google.maps.Size(20, 20),
              origin: new google.maps.Point(0, 0),
              scaledSize: new google.maps.Size(20, 20)
            },
            Soccer: {
              url: "{% static 'soccer.png' %}",
              size: new google.maps.Size(20, 20),
              origin: new google.maps.Point(0, 0),
              scaledSize: new google.maps.Size(20, 20)
            },
            Volleyball: {
              url: "{% static 'volleyball.png' %}",
              size: new google.maps.Size(20, 20),
              origin: new google.maps.Point(0, 0),
              scaledSize: new google.maps.Size(20, 20)
            }
          };


        console.log(result);
        for (var i = 0; i < result.length; i++) {
          var location = result[i];
          // Tennis
          if (location.sport == 4) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                icon: iconSet['Tennis'],
                content: '<b>' + location.name + '</b>' + '<br>' + '{{ object.address }}'
              });
            };
          // Baseball, Kickball, Softball
          if (location.sport.includes(5)) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                icon: iconSet['BallField'],
                content: '<b>' + location.name + '</b>' + '<br>' + '{{ object.address }}'
              });
            };
          // Basketball
          if (location.sport == 2) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                icon: iconSet['Basketball'],
                content: '<b>' + location.name + '</b>' + '<br>' + '{{ object.address }}'
              });
            };
          // Soccer
          if (location.sport == 1) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                icon: iconSet['Soccer'],
                content: '<b>' + location.name + '</b>' + '<br>' + '{{ object.address }}'
              });
            };
          // Volleyball
          if (location.sport == 8) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(location.lat, location.lng),
                map: map,
                icon: iconSet['Volleyball'],
                content: '<b>' + location.name + '</b>' + '<br>' + '{{ object.address }}'
              });
            };

          var infoWindow = new google.maps.InfoWindow();

          google.maps.event.addListener(marker, 'click', (function(marker, i, infoWindow) {
            return function() {
              infoWindow.setContent(this.content);
              infoWindow.open(map, this);
            };
          })(marker, i, infoWindow));

        }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1oUv4FGoi_SFQ16BtK5huzJ0hUS_oDSc&callback=initMap">
    </script>
    {% endblock %}
