{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}" media="screen" title="no title">
{% endblock %}
{% block content %}

<div class="row">
  <div class="col s4">
    <div class="image-container">
      <div class="thumbnail">
        <img src="{{ MEDIA_URL }}{{ object.profile_picture }}" alt="Picture of {{ object.first_name }}" class="circle responsive-img z-depth-5" />
      </div>
    </div>
  </div>
  <div class="col s1">

  </div>
  <div class="col s5">
    <h3>{{ object.full_name }}</h3>
  </div>

  <div class="col s2">
    <form class="" action="{% url 'rating_update_api_view' object.id %}" method="post">
      {% csrf_token %}
      <div class="rating_stars">
        <input class="rating" type="radio" name="rating" value="1" style="display:none;">
        <input class="rating" type="radio" name="rating" value="2" style="display:none;">
        <input class="rating" type="radio" name="rating" value="3" style="display:none;">
        <input class="rating" type="radio" name="rating" value="4" style="display:none;">
        <input class="rating" type="radio" name="rating" value="5" style="display:none;">
      </div>
    </form>
  </div>


</div>
<div class="row">
  <div class="col s6">
    <h3>Your Events</h3>
    {% if event.count <= 1 %}
      <a href="{% url 'event_detail_view' event.id %}">{{ event }}</a>
    {% else %}
      {% for event in event %}
        <a href="{% url 'event_detail_view' event.id %}">{{ event }}</a><br>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/rating.js' %}"></script>
<script type="text/javascript">
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


  $('document').ready(function(){
    $('.rating_stars').rating(function(vote, event){
      console.log(vote, event);
      $.post("{% url 'rating_update_api_view' object.id %}", {vote: vote});
    });
  })
</script>


{% endblock %}
