{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s4">
    <div class="image-container">
      <div class="thumbnail">
        <img src="{{ object.image_url }}" alt="Picture of {{ object.name }}" class="circle responsive-img z-depth-5" />
      </div>
    </div>
  </div>
  <div class="col s1"></div>
  <div class="col s5">
    <h3>{{ object.name }}</h3>
    {% for player in players %}
    <a href="{% url 'others_profile_view' player.profile.id %}">
    <div class="chip">
      <img src="{{ player.profile.image_url }}" alt="Picture of {{ player.profile.full_name }}" />
      {{ player.profile.full_name }}
    </div>
    </a>
    {% endfor %}
  </div>
  <div class="col s2">
    <a class="btn waves-light" href="{% url 'email_team_view' object.id %}">Contact</a>
    <br>
    <br>
    {% if request.user == object.created_by %}
    <a class="btn waves-light blue" href="{% url 'team_update_view' object.id %}">Update</a>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col s5">
    <ul class="collection with-header">
      <li class="collection-header"><h5><b>Future</b></h5></li>
      {% for event in team.event_set.all %}
      {% if event.in_future %}
      <li>
        <a class="collection-item" href="{% url 'event_detail_view' event.id %}">{% if not event.is_public %}<span class="badge"><i class="material-icons">lock</i></span>{% endif %}{{ event.name }}</a>
      </li>
      <div class="divider"></div>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col s1"></div>
  <div class="col s5">
    <ul class="collection with-header">
      <li class="collection-header"><h5><b>Past</b></h5></li>
    {% for event in team.event_set.all %}
    {% if not event.in_future %}
    <li>
      <a class="collection-item" href="{% url 'event_detail_view' event.id %}">{% if not event.is_public %}<span class="badge"><i class="material-icons">lock</i></span>{% endif %}{{ event.name }}</a>
    </li>
    <div class="divider"></div>
    {% endif %}
    {% endfor %}
  </div>

</div>
{% endblock %}
